body{
   margin: 0px;
   background-color: #d9b6ca; 
}

a{
    text-decoration: none;
}

/*Header Section*/
header{
    height: 60px;
    /* border: 5px solid hotpink; */
    background-color: #3b2632;
}


/*Search Section*/
#search{
 height:450px;
 /* border:1px solid red;
 background-color: #d9b6ca; */
 background-image: url('image/food-wallpaper.png');
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-size: 100% 450px;
}

#brand{
    float:left;
    color:white;
    font-size: 30px;
    margin-top: 1%;
    margin-left: 1%;
}

#social{
    float:right
}

.socialLogo{
    height:50px;
}

.logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    margin-left:45%;
    margin-top:2%;
    position: absolute;
    font-size: 90px;
}

.logo> span{
    margin-left: 20%;
    margin-top: 15%;
    position: absolute;
}

#heading{
    font-size:60px;
    color:white;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-left: 30%;
    margin-top: 15%;
    position: absolute;
}

.dropdown{
    height:60px;
    width: 50%;
    /* border: 2px solid white; */
    margin-left: 28%;
    margin-top: 22%;
    position: absolute;
}

select{
    height:60px;
    width:40%;
    font-size:20px;
    text-align: center; 
}

#restSelect{
    width:59%;
}


/*Quick Search Section*/
#quickSearch{
  /* height:800px; */
  display: inline-block;
  width:80%;
  margin-left:10%;
  margin-top:2%;
  margin-bottom:2%;
}

.quickHeading{
    color:#3b2632;
    font-size:30px;
    font-weight:bold;
    display: block;
    margin-left:2%;
}

.quickSubHeading{
    color:gray;
    font-size:20px;
    line-height: 2;
    margin-left:2%;
}

.tileContainer{
    height:180px;
    width:30%;
    margin-left:2%;
    margin-top:3%;
    box-shadow:10px 20px 10px gray;
    float: left;
}

.tileComponent1{
    width:52%;
    float: left;
}

.tileComponent1 >img{
    width:100%;
    height:100%
}

.tileComponent2{
    width:45%;
    float: left;
    margin-left:3%;
    margin-top:15%
}

.compHeading{
    font-size:25px;
    font-weight: bold;
    color:#3b2632
}

.compHeading >a{
    color:#3b2632 !important
}

.compSubHeading{
    font-size:20px;
    color:gray
}

/*Footer Section*/
footer{
    /* border:5px groove green; */
    background-color: #3b2632;
    color:white;
    text-align: center;
}

.footText{
    font-size:20px;
}

.footDiv{
    display: inline-block;
    width:32%;
    border-right: 2px solid white;
}

.noBorder{
    border:none
}

ul{
    list-style-type: none;
}
